<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>iamprediction</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <a class="logo" href="index.html">iAmPrediction</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="http://www.iamprediction.com/">Home</a></li>
        <li><a href="http://www.iamprediction.com/Valuation">Valuation</a></li>

    </ul>
</nav>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>iAmPrediction</h1>
        <p>Get data and use or model at<br/>
            <a href="http://www.iamprediction.com/">iAmPrediction</a></p>
    </div>
    <video autoplay loop muted playsinline src="{{url_for('static', filename='banner.mp4')}}"></video>
</section>

<!-- Highlights -->
<section class="wrapper">
    <div class="inner">
        <form method="post" action="get-data">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <label>Ticker</label>
                    <input type="text" class="form-control" id="ticker" name="ticker" placeholder="TICKER">
                </div>


            </div>
            <br>
            <button type="submit" class="button primary">Get</button>
        </form>
    </div>
</section>

<section class="wrapper">


    <div class="inner">
        <h1>Main Data Needed to use our model</h1>
        <br>
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>Label</th>
                    <th>Value</th>
                </tr>

                {% for zip in ziper %}
                <tr>

                    <td>
                        {{zip}}
                    </td>
                    <td>
                        {{ziper[zip]}}
                    </td>

                </tr>
                {% endfor %}

            </table>
        </div>
        <br>
        <h1>Additional Data</h1>
        <br>
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>Label</th>
                    <th>Value</th>
                </tr>

                {% for data in a_data %}
                <tr>

                    <td>
                        {{data}}
                    </td>
                    <td>
                        {{a_data[data]}}
                    </td>

                </tr>
                {% endfor %}

            </table>
        </div>


    </div>

    </div>


</section>

<!-- CTA -->
<section id="cta" class="wrapper">
    <div class="inner">
        <h2>Make the most out of your trading!</h2>
    </div>

</section>

<!-- Testimonials -->


<!-- Footer -->
<footer id="footer">

</footer>

<!-- Scripts -->
<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='browser.min.js')}}"></script>
<script src="{{url_for('static', filename='breakpoints.min.js')}}"></script>
<script src="{{url_for('static', filename='util.js')}}"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>

</body>
</html>